@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body, html {
    height: 98vh;
    width: 98vw;
    overflow: hidden; 
    font-family: 'Bebas Neue', cursive;
    position: relative;
    padding: 0;
    margin: 0;
    background-image: url('resources/image/t00.jpg');
}
#tagCloud {
    z-index: 10;
    width: 100%;
    height: 50vw;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
}
#color {
    background: rgba(0, 0, 0, 0.089);
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.background {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-position: center;
    background-size: cover;
    transition: opacity 1s ease;
}

.tags {
    position: fixed;
    display: inline-block;
    transform: translate(-50%, -50%);
    transform-origin: 50%  51%;
    cursor: pointer;
    mix-blend-mode: hard-light;
}

#t00 #tname {
    font-size: 7.3vw;
    text-align: center;
    display: block;
}
#t00 #tsub {
    font-size: 5vw;
    text-align: center;
    margin-top: -3.2vw;
    display: block;
}
#t00 {
    left: 50vw;
    top: 50%;
    color: rgb(240, 156, 1);
    z-index: 3;
}
#t01 {
    left: 30.8%;
    top: 36.5%;
    font-size: 6vw;
    color: rgb(81, 42, 255);
    z-index: 3;
    /* transform: rotate(-90deg); */
}
#t02 {
    left: 62.3%;
    top: 32.8%;
    font-size: 12vw;
    color: rgb(0, 241, 0);
    z-index: 4;
    /* transform: rotate(90deg); */
}
#t03 {
    left: 24.5%;
    top: 56.9%;
    font-size: 6vw;
    color: rgb(235, 0, 176);
    z-index: 4;
    transform: rotate(-90deg);
}
#t04 {
    left: 32.9%;
    top: 45.5%;
    font-stretch: ultra-condensed;
    font-size: 9.6vw;
    color: rgb(255, 59, 59);
    z-index: 4;
    transform: rotate(180deg);
}
#t05 {
    left: 86%;
    top: 44.7%;
    font-size: 5vw;
    color: rgb(152, 255, 84);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t06 {
    font-size: 3.3vw;
    left: 42%;
    top: 20.6%;
    color: rgb(255, 68, 155);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t07 {
    font-size: 5vw;
    left: 21%;
    top: 44.8%;
    color: rgb(5, 149, 206);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t08 {
    font-size: 4vw;
    left: 66.2%;
    top: 60.5%;
    color: rgb(184, 216, 0);
    z-index: 4;
    transform: rotate(90deg);
}
#t09 {
    font-size: 4vw;
    left: 83.1%;
    top: 22%;
    color: rgb(5, 252, 211);
    z-index: 4;
    transform: rotate(-90deg);
}
#t10 {
    font-size: 5vw;
    left: 31.3%;
    top: 17.5%;
    color: rgb(0, 46, 250);
    z-index: 4;
    transform: rotate(-90deg);
}
#t11 {
    font-size: 8vw;
    left: 19.1%;
    top: 55%;
    color: rgb(255, 157, 144);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t12 {
    font-size: 8vw;
    left: 60.3%;
    top: 17.6%;
    color: rgb(215, 245, 47);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t13 {
    font-size: 4.1vw;
    left: 19.1%;
    top: 64%;
    color: rgb(245, 255, 105);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t14 {
    font-size: 6.5vw;
    left: 85.9%;
    top: 61.9%;
    color: rgb(255, 152, 133);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t15 {
    font-size: 4.2vw;
    left: 80.7%;
    top: 19.95%;
    color: rgb(41, 255, 166);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t16 {
    font-size: 9.2vw;
    left: 65.9%;
    top: 59.5%;
    text-decoration: underline;
    color: rgb(230, 27, 0);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t17 {
    font-size: 6.55vw;
    left: 45.4%;
    top: 72.6%;
    color: rgb(14, 173, 236);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t18 {
    font-size: 6.8vw;
    left: 23.4%;
    top: 72.5%;
    color: rgb(170, 26, 253);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t19 {
    font-size: 5vw;
    left: 51.1%;
    top: 63.7%;
    color: rgb(155, 152, 152);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t20 {
    font-size: 7.5vw;
    left: 70.9%;
    top: 74.8%;
    color: rgb(255, 251, 251);
    z-index: 4;
    /* transform: rotate(180deg); */
}
#t21 {
    font-size: 4vw;
    left: 80.8%;
    top: 69.9%;
    color: rgb(156, 240, 0);
    z-index: 4;
    /* transform: rotate(-90deg); */
}
#t22 {
    font-size: 5.6vw;
    left: 88.3%;
    top: 52.7%;
    color: rgb(224, 247, 94);
    z-index: 4;
    /* transform: rotate(180deg); */
}
#t23 {
    font-size: 4vw;
    left: 63.2%;
    top: 72.3%;
    color: rgb(255, 47, 175);
    z-index: 4;
    /* transform: rotate(180deg); */
}

